<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="admin-box">

    <div class="admin-header">
        <h2>Admin Dashboard</h2>
        <div>
            <a href="/generate_qr"><button class="btn btn-blue">Generate QR</button></a>
            <a href="/logout"><button class="btn btn-outline">Logout</button></a>
            <a href="/add_user"><button class="btn btn-green">Add Student</button></a>
            <a href="/students"><button class="btn btn-blue">👨‍🎓 Students</button></a>


        </div>
    </div>

    <table class="admin-table">
        <tr>
            <th>ID</th>
            <th>Student ID</th>
            <th>Location</th>
            <th>Complaint</th>
            <th>Status</th>
            <th>Reply</th>
            <th>Action</th>
        </tr>

        {% for c in complaints %}
        <tr>
            <td>{{ c[0] }}</td>
            <td>{{ c[1] }}</td>
            <td>{{ c[2] }}</td>
            <td>{{ c[3] }}</td>

            <td>
                {% if c[4] == "Resolved" %}
                    <span class="status-resolved">Resolved</span>
                {% else %}
                    <span class="status-pending">Pending</span>
                {% endif %}
            </td>

            <td>
                <form action="/reply/{{ c[0] }}" method="POST">
                    <input type="text" name="reply" value="{{ c[5] }}">
                    <br><br>
                    <button class="btn btn-blue" type="submit">Send</button>
                </form>
            </td>

            <td>
                <a href="/resolve/{{ c[0] }}"><button class="btn btn-green">Resolve</button></a>
                <br><br>
                <a href="/delete/{{ c[0] }}"><button class="btn btn-red">Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

</body>
</html>
